.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}

// @media (min-width: 768px) {
//   .sidenav {
//     display: none;
//   }
// }

.hidden {
  display: none;
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar a {
  display: inline-block;
  margin: 0 8px;
  color: white;
  text-decoration: none;
  font-size: 18px;
}

@media (min-width: 1200px) {
  mat-toolbar a {
    display: inline-block;
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-size: 22px;
  }
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  height: 100px;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-drawer-content {
  overflow: hidden;
  display: flex;
}

.logo{
  text-shadow: 2px 2px 20px #000000
}

.logo:hover {
  text-shadow: none;
}

.logo-container:hover img {
  display: none;
}

.navbar-items a:after {
    content: "";
    position: absolute;
    width: 0%;
    height: 1px;
    display: block;
    transition: all 0.3s ease;
    bottom: 33%;
  }

.navbar-items a:hover::after {
    width: 3%;
    height: 2px;
    background-color: #fff;
}
