<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [ngClass]="{hidden: !(isHandset$ | async)}"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar color="primary">
      <span>Menu</span>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Galerie</a>
      <a mat-list-item href="#">Servicii</a>
      <a mat-list-item href="#">Programari</a>
      <a mat-list-item href="#">Contact</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" fxLayout="row">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>vet_app_frontend</span>
      <span fxFlex></span>
      <div fxHide fxShow.gt-xs>
        <a href="#">Galerie</a>
        <a href="#">Servicii</a>
        <a href="#">Programari</a>
        <a href="#">Contact</a>
      </div>
    </mat-toolbar> 
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
