<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [ngClass]="{hidden: !(isHandset$ | async)}"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="false">
    <mat-toolbar color="primary">
      <span>Menu</span>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="[paths.DISEASE_PREDICTION_PAGE]">Predictie Boala</a>
      <a mat-list-item [routerLink]="[paths.GALLERY_PAGE]">Galerie</a>
      <a mat-list-item [routerLink]="[paths.SERVICII_PAGE]">Servicii</a>
      <a 
        mat-list-item 
        [routerLink]="[paths.APPOINTMENTS_PAGE]" 
        *ngIf="hasAnyRole([role.USER, role.DOCTOR]) || !(loggedIn$ |async)"
      >
        Programari
      </a>
      <a mat-list-item [routerLink]="[paths.SHOP_PAGE]">Magazin</a>
      <a mat-list-item [routerLink]="[paths.SHOPPING_CART]">Cos</a>
      <a mat-list-item [routerLink]="[paths.CONTACT_PAGE]">Contact</a>
      <a mat-list-item *ngIf="!(loggedIn$ | async)" [routerLink]="[paths.LOGIN_PAGE]">Log in</a>
      <a mat-list-item *ngIf="loggedIn$ | async" (click)="onLogOut()" class="cursor-pointer">Log out</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" fxLayout="row">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a routerLink="/">
        vet_app_frontend
      </a>
      <span fxFlex></span>
      <div fxHide fxShow.gt-xs>
        <a [routerLink]="[paths.DISEASE_PREDICTION_PAGE]">Predictie Boala</a>
        <a [routerLink]="[paths.GALLERY_PAGE]">Galerie</a>
        <a [routerLink]="[paths.SERVICII_PAGE]">Servicii</a>
        <a 
          [routerLink]="[paths.APPOINTMENTS_PAGE]"
          *ngIf="hasAnyRole([role.USER, role.DOCTOR]) || !(loggedIn$ |async)"
        >
          Programari
        </a>
        <a [routerLink]="[paths.SHOP_PAGE]">Magazin</a>
        <a [routerLink]="[paths.SHOPPING_CART]">Cos</a>
        <a [routerLink]="[paths.CONTACT_PAGE]">Contact</a>
        <a *ngIf="!(loggedIn$ | async)" [routerLink]="[paths.LOGIN_PAGE]">Log in</a>
        <a *ngIf="loggedIn$ | async" (click)="onLogOut()" class="cursor-pointer">Log out</a>
      </div>
    </mat-toolbar> 
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
