<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@1,300&family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>

<div fxLayout="column" fxLayoutGap="20px" class="overflow-hidden">
    <img src="assets/images/cat.jpg" alt="cat image">
    <div fxLayout="row">
        <span fxFlex="10"></span>
        <div fxFlex fxLayout="row" fxLayoutAlign="space-between" >
            <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
                <h1 class="services-title">Consultatii</h1>
                <img src="assets/images/consultatii.jpg" class="services-icon" alt="chirurgie">
                <span class="service-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi fringilla pharetra lacus, ut dapibus massa facilisis ac. 
                    Nunc gravida sem ut lacus eleifend, in mollis dui sollicitudin. Interdum et malesuada fames ac ante ipsum primis in faucibus. 
                    Donec quis justo id nunc eleifend condimentum faucibus a odio. Fusce ultricies elit massa, id dictum justo ullamcorper non</span>
                <button mat-raised-button color="primary">Vezi detalii</button>
            </div>
            <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
                <h1 class="services-title">Chirurgie Veterinara</h1>
                <img src="assets/images/chirurgie.jpg" class="services-icon" alt="chirurgie">
                <span class="service-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi fringilla pharetra lacus, ut dapibus massa facilisis ac. 
                    Nunc gravida sem ut lacus eleifend, in mollis dui sollicitudin. Interdum et malesuada fames ac ante ipsum primis in faucibus. 
                    Donec quis justo id nunc eleifend condimentum faucibus a odio. Fusce ultricies elit massa, id dictum justo ullamcorper non</span>
                <button mat-raised-button color="primary">Vezi detalii</button>
            </div>
            <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
                <h1 class="services-title">Analize de laborator</h1>
                <img src="assets/images/analize.jpg" class="services-icon" alt="chirurgie">
                <span class="service-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi fringilla pharetra lacus, ut dapibus massa facilisis ac. 
                    Nunc gravida sem ut lacus eleifend, in mollis dui sollicitudin. Interdum et malesuada fames ac ante ipsum primis in faucibus. 
                    Donec quis justo id nunc eleifend condimentum faucibus a odio. Fusce ultricies elit massa, id dictum justo ullamcorper non</span>
                <button mat-raised-button color="primary">Vezi detalii</button>
            </div>
        </div>
        <span fxFlex="10"></span>
    </div>
</div>