
.services-title {
    font-size: 38px;
    font-family: 'Inria Sans', sans-serif;
}

.services-icon {
    max-width: 220px;
    border: 5px solid black;
}

.service-description {
    text-align: justify;
    max-width: 300px;
}
