<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@1,300&family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>

<div class="overflow-hidden flex flex-col gap-10">
    <img src="assets/images/cat.jpg" alt="cat image">
    <div class="flex flex-row grow mb-10">
        <div class="sm:flex sm:flex-row sm:justify-between sm:gap-10 w-full xl:px-32">
            <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="20px">
                <h1 class="services-title">Consultatii</h1>
                <img src="assets/images/consultatii.jpg" class="services-icon" alt="chirurgie">
                <span class="service-description">Fie că aveți nevoie de un consult general sau de un control de rutină, echipa noastră de medici veterinari dedicați 
                    vă va oferi îndrumare și sfaturi specializate pentru a menține animalul dumneavoastră sănătos și fericit. Suntem aici pentru a asculta cu atenție, 
                    a răspunde întrebărilor dumneavoastră și a vă oferi servicii medicale personalizate, adaptate nevoilor fiecărui animal de companie.</span>
            </div>
            <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="20px">
                <h1 class="services-title">Chirurgie Veterinara</h1>
                <img src="assets/images/chirurgie.jpg" class="services-icon" alt="chirurgie">
                <span class="service-description">Echipa noastră de chirurgi veterinari dedicati vă asigură că animăluțul dumneavoastră primește cele mai bune servicii 
                    chirurgicale disponibile. Fie că este vorba despre o intervenție chirurgicală de rutină sau despre o procedură mai complexă, precum o intervenție 
                    ortopedică sau o intervenție laparoscopică, vă garantăm că animalul dumneavoastră se află în mâini sigure și pricepute. </span>
            </div>
            <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="20px">
                <h1 class="services-title">Analize de laborator</h1>
                <img src="assets/images/analize.jpg" class="services-icon" alt="chirurgie">
                <span class="service-description">Departamentul nostru de laborator vă oferă servicii de diagnostic avansate pentru a vă ajuta să înțelegeți mai bine starea 
                    de sănătate a animalului dumneavoastră. Echipa noastră de tehnicieni calificați și aparatura de ultimă generație asigură rezultate precise și rapide, 
                    esențiale pentru o evaluare corectă a stării de sănătate.</span>
            </div>
        </div>
    </div>
</div>