<div class="smth min-h-screen">
    <div class="container xl:max-w-screen-xl mx-auto min-h-screen px-10 pt-10 flex flex-col">
        <div class="md:flex md:flex-row">
            <div class="basis-1/2">
                <p class="text-2xl font-medium">Obtineti o rezervare online:</p>
                <form class="flex flex-col md:max-w-xs mt-10">
                    <mat-form-field appearance="outline">
                        <mat-label>Nume Complet</mat-label>
                        <input matInput>
                    </mat-form-field>
        
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput>
                    </mat-form-field>
        
                    <mat-form-field appearance="outline">
                        <mat-label>Telefon</mat-label>
                        <input matInput>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Mesajul dumneavoastra</mat-label>
                        <textarea matInput></textarea>
                    </mat-form-field>
        
                    <mat-form-field appearance="outline">
                        <mat-label>Selectati animalul</mat-label>
                        <mat-select>
                            <!-- temporary -->
                            <mat-option value="dog">Caine</mat-option>
                            <mat-option value="cat">Pisica</mat-option>
                        </mat-select>
                    </mat-form-field>
                </form>
            </div>
            <div class="basis-1/2">
                <p class="text-2xl font-medium">Alege data programarii:</p>
                <form class="flex flex-col md:max-w-xs mt-10">
                    <div class="max-md:flex max-md:justify-center">
                        <mat-card class="schedule-calendar mb-8 max-w-xs max-md:w-full">
                                <mat-calendar 
                                    [(selected)]="selected" 
                                    [minDate]="currentDate" 
                                    [maxDate]="maxDate" 
                                    (selectedChange)="refreshHours()"
                                >
                                </mat-calendar>
                        </mat-card>
                    </div>
                    <mat-form-field appearance="outline">
                        <mat-label>Data selectata:</mat-label>
                        <input matInput [value]="selected | date:'yy/M/d'" readonly="true">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Ora</mat-label>
                        <mat-select [disabled]="loadingHours"></mat-select>
                        <mat-spinner diameter="20" class="mx-2" *ngIf="loadingHours" matSuffix></mat-spinner>
                    </mat-form-field>
    
                </form>
            </div>
        </div>
        <div class="flex justify-center mt-5">
            <button class="w-[40%] mb-6" mat-raised-button color="accent">Creeaza programare</button>
        </div>
    </div>
</div>