<div class="smth flex flex-col grow">
    <div class="container xl:max-w-screen-xl mx-auto grow px-10 pt-10 flex flex-col">
        <form [formGroup]="createAppointmentForm" class="md:flex md:flex-row">
            <div class="basis-1/2">
                <p class="text-2xl font-medium">Obtineti o rezervare online:</p>
                <div class="flex flex-col md:max-w-xs mt-10">
                    <mat-form-field appearance="outline">
                        <mat-label>Numele animalului</mat-label>
                        <mat-error 
                            *ngIf="$any(createAppointmentForm.get('animalName')).hasError('required')"
                        >
                            Campul este necesar
                        </mat-error>
                        <input matInput formControlName="animalName">
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Motivul programarii</mat-label>
                        <textarea matInput formControlName="description"></textarea>
                        <mat-error 
                            *ngIf="$any(createAppointmentForm.get('description')).hasError('required')"
                        >
                            Campul este necesar
                        </mat-error>
                        <mat-error 
                            *ngIf="$any(createAppointmentForm.get('description')).hasError('maxlength')"
                        >
                            Campul trebuie sa aiba cel mult 100 de caractere
                        </mat-error>
                    </mat-form-field>
        
                    <mat-form-field appearance="outline">
                        <mat-label>Selectati animalul</mat-label>
                        <mat-select formControlName="animal">
                            <mat-option *ngFor="let animal of Object.keys(animals)" [value]="animal">{{ $any(animals)[animal] }}</mat-option>
                        </mat-select>
                        <mat-error 
                            *ngIf="$any(createAppointmentForm.get('animal')).hasError('required')"
                        >
                            Campul este necesar
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="basis-1/2">
                <p class="text-2xl font-medium">Alege data programarii:</p>
                <div class="flex flex-col md:max-w-xs mt-10">
                    <div class="max-md:flex max-md:justify-center">
                        <mat-card class="schedule-calendar mb-8 max-w-xs max-md:w-full">
                                <mat-calendar 
                                    [(selected)]="selected" 
                                    [minDate]="currentDate" 
                                    [maxDate]="maxDate" 
                                    (selectedChange)="refreshHours()"
                                >
                                </mat-calendar>
                        </mat-card>
                    </div>
                    <mat-form-field appearance="outline">
                        <mat-label>Data selectata:</mat-label>
                        <input 
                            matInput 
                            readonly="true"
                            formControlName="date"
                        >
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Ora</mat-label>
                        <mat-select formControlName="hour">
                            <mat-option 
                                *ngFor="let hour of currentAvailableHours$ | async"
                                [value]="hour"
                            >
                                {{ hour }}:00
                            </mat-option>
                        </mat-select>
                        <mat-error 
                            *ngIf="$any(createAppointmentForm.get('hour')).hasError('required') && !noAvailableHoursError"
                        >
                            Campul este necesar
                        </mat-error>
                        <mat-error *ngIf="noAvailableHoursError">
                            Ziua selectata nu are ore disponibile. Te rugam sa alegi alta zi
                        </mat-error>
                        <mat-spinner diameter="20" class="mx-2" *ngIf="loadingHours" matSuffix></mat-spinner>
                    </mat-form-field>
    
                </div>
            </div>
        </form>
        <div class="flex justify-center mt-5">
            <button 
                class="w-[40%] mb-6" 
                mat-raised-button color="accent"
                [disabled]="createAppointmentForm.invalid || loadingCreateAppointment"
                (click)="onCreateAppointmentClicked()"
            >
                <div class="flex flex-row">
                    <span>Creeaza programare</span>
                    <mat-spinner diameter="20" class="mx-2" *ngIf="loadingCreateAppointment" matSuffix></mat-spinner>
                </div>
            </button>
        </div>

        <p class="text-2xl font-medium mt-10 ">Programarile tale:</p>
        <app-appointments-table class="mt-6"></app-appointments-table>
    </div>
</div>