<div class="smth">
    <div class="container xl:max-w-screen-xl mx-auto px-4 md:flex md:flex-row white">
        <div class="basis-5/12">
            <p class="text-2xl font-medium mb-10 pt-10">Contact clinica veterinara</p>
            <div class="grid grid-rows-4 gap-2 ml-6">
                <div class="grid grid-rows-2 gap-1">
                    <p class="font-bold">Telefon:</p>
                    <p>0712345678</p>
                </div>
                <div class="grid grid-rows-2 gap-1">
                    <p class="font-bold">Email:</p>
                    <p>contact@happypaws.com</p>
                </div>
                <div class="grid grid-rows-2 gap-1">
                    <p class="font-bold">Adresa:</p>
                    <p>Str.Dezrobirii nr.25, sector 6, Bucuresti</p>
                </div>
                <div class="grid grid-rows-2 gap-1">
                    <p class="font-bold">Program:</p>
                    <p>Non-Stop</p>
                </div>
            </div>
            <!-- <p class="text-2xl font-medium mt-12 ml-6">Lasa-ne o nota:</p> -->
        </div>
        <div class="basis-7/12">
            <p class="text-2xl font-medium mb-10 pt-10">Trimite-ne un mesaj:</p>
            <mat-form-field appearance="fill">
                <mat-label>Input</mat-label>
                <input matInput>
            </mat-form-field>
            
        </div>
    </div>
</div>